.flex-container {
  display : flex;
}

.block-container{
  display: block;
  width: 100%;
}

.full-height-sidebar{
  min-height: 720px;

}
.postbook-post-card{
  margin: 35px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
  width: 90%;
}

.postbook-post-tags{
  margin: 5px;
  float: right;
}

.postbook-filter-tags{
  margin-left: 25px;
  margin-top: 8px;
  border-radius: 20px;
}

.inline-div{
  display: inline;
}

.post-author-credit{
  float: right;
  opacity: 30%;
}

.postbook-create-post{
  margin: 20px;
  box-shadow: 5px 5px 5px black;
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 10px;
}

.postbook-no-post-banner{
  margin: 20px;
  text-align: center;
  font-size: x-large;
  opacity: 40%;
}

.postbook-body-loader{
  margin: 50px;
  width: 250px;
  
}